<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="list-all">
        <h2><%= link_to "Simple Airbnb", flats_path %></h2>
      </div>
      <div class="btn-add">
        <%= form_tag(flats_path, method: :get) do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag 'Search', name: nil %>
        <% end %>
        <h2><%= link_to "Add Flat", new_flat_path %></h2>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
